h1{
    text-align: center;
}

.nav-links{
    display: flex;
    gap: 20px;
}

/* .player{
    display: flex;
    justify-content: center;
    margin-top: 500px;
} */

/* .container{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 15fr;
    gap: 20px; 
} */

.container{
    display: grid;
    grid-template-columns: repeat(4,240px);
    /* grid-template-rows: repeat(4,240px); */
    row-gap: 20px;

    /* column-gap: 10px; */
}